<%  @tasks.each do |task| %>

<% if task.completed? %>

<div class="card">
  <h5 class="card-header"><%= link_to  task.title, task %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= task.description %></h5>
    <p class="card-text">completed at</p>
 
    <div class="btn btn-success btn-lg"><%= link_to "Completed", complete_task_path(task), method: :patch %></div>
  </div>

<% else %>




<h2> <%= link_to  task.title, task %></h2>
<p><%= task.description %> </p>
<p><%= task.status %> </p>
<%= link_to "MARK AS COMPLETE", complete_task_path(task), method: :patch %>

<% end %>
<% end %>






