<h1> TO DO LIST <h1>
<%  @tasks.each do |task| %>

<% if task.completed?%>
<h2> <%= link_to  task.title, task %></h2>
<p><%= task.description %> </p>
<p><%= task.status %> </p>
<%= link_to "MARK AS COMPLETE", complete_task_path(task), method: :patch %>
<% else %>

<h1> COMPLETED TASKS <h1>

<h2> <%= link_to  task.title, task %></h2>
<p><%= task.description %> </p>
<p><%= task.status %> </p>
<%= link_to "MARK AS COMPLETE", complete_task_path(task), method: :patch %>

<% end %>

<% end %>




<%= link_to "New Task", new_task_path %>

<br>
<br>
<br>
<br>
<hr>



